.sun-main {
  flex-wrap: wrap;
  @include pad {
    justify-content: space-between;
    margin-bottom: 72px;
  }
}
.sun-card {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 255px;
  margin-bottom: 104px;
  @include pad {
    width: 330px;
    margin-bottom: 72px;
  }
  @include mobile {
    width: 345px;
    margin-bottom: 32px;
  }
  img {
    height: 164px;
    width: 100%;
    object-fit: cover;
  }
  h5 {
    font-size: 18px;
    line-height: 30px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    color: #aa0601;
  }
}
.card-title {
  font-size: $h4-font-size;
  line-height: 36px;
  p {
    font-size: $h4-font-size;
    color: $text-secondary;
  }
}
.price {
  font-weight: 500;
}
.sun-color-dark {
  background-color: #5f3e2d;
  width: 19px;
  height: 19px;
  border-radius: 4px;
  margin-right: 8px;
}
.sun-color-light {
  background-color: #b75929;
  width: 19px;
  height: 19px;
  border-radius: 4px;
}
